FluentPipelineCore/bin
FluentPipelineCore/obj
FluentPipelineDemoCli/obj
FluentPipelineDemoCli/bin
FluentPipelineDemoWeb/bin
FluentPipelineDemoWeb/obj
FluentPipelineDemoSqsCli/bin
FluentPipelineDemoSqsCli/obj
FluentPipelineDemoSqsCli/appsettings.json
